
.wrapper-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* add code below to also center horizontally */
  align-items: center;
}
.centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* add code below to also center horizontally */
  left:0;
  right:0;
  margin: 0 auto;
  max-width: 400px;
}
